## load data

In [8]:
import pandas as pd

excel_data = pd.read_excel('dataset/Dep_15_Resultats_com_T1_c.xlsx')
.to_csv (r'Path to store the CSV file\File name.csv', index = None, header=True)

## data information

In [ ]:
data.info()

In [12]:
data.describe()

,Résultats par communes,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86
count,36961,36961,36961,36961,36961,36961,36961,36961,36961,36961,...,3,3,3,3.00,2,2,2,2,2,2
unique,3194,99,99,42,2052,909,34031,5182,3678,4108,...,3,3,3,3.00,2,2,2,2,2,2
top,2015-03-23 16:42:11,62,PAS DE CALAIS,1,Le Saulnois,4,Sainte-Colombe,107,45,50,...,M. BOUHOUALI Ali et Mme CARBONNEL Monique,Voix,% Voix/Ins,1.94,N°Panneau,BC-FN,Mme DELAYE Laurence et M. LUC Jean-François,3722,% Voix/Ins,% Voix/Exp
freq,13,901,901,2015,135,101,13,99,212,206,...,1,1,1,1.00,1,1,1,1,1,1